<div class="profile-nav">
    <div class="panel">
        <ul class="nav nav-pills nav-stacked">
            <li> <a href="/std/prof"> <i class="fa fa-user"></i> Profile</a> </li>
            <li > <a href="/std/editprof"> <i class="fa fa-edit"></i> Edit Profile</a> </li>
            <li> <a href="user-resume-build.html"> <i class="fa fa-file-o"></i>Build Resume </a> </li>
            <li> <a href="user-resume.html"> <i class="fa fa-file-o"></i>Saved Resume </a> </li>
            <li> <a href="user-job-applied.html"> <i class="fa  fa-list-ul"></i> Jobs Applied</a> </li>
            <li> <a href="user-followed-companies.html"> <i class="fa  fa-bookmark-o"></i> Followed Companies </a> </li>
        </ul>
    </div>
</div>