
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="profile-card">
        <div class="banner"> <img src="/asset/images/building.jpg" alt="" class="img-responsive"> </div>
        <div class="user-image"> <img src="/asset/images/users/profile-avatar.jpg" class="img-responsive img-circle" alt=""> </div>
        <div class="card-body">
            <h3>Mrs. Emilly Copper</h3>
            <span class="title">A web Designer</span> </div>
        <ul class="social-network social-circle onwhite">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin +"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="profile-nav">
        <div class="panel">
            <ul class="nav nav-pills nav-stacked">
                <li> <a href="/std/prof"> <i class="fa fa-user"></i> Profile</a> </li>
                <li > <a href="/std/editprof"> <i class="fa fa-edit"></i> Edit Profile</a> </li>
                <li> <a href="/std/build"> <i class="fa fa-file-o"></i>Build Resume </a> </li>
                <li> <a href="/std/viewcv"> <i class="fa fa-file-o"></i>Saved Resume </a> </li>
                <li> <a href="#"> <i class="fa  fa-list-ul"></i> Jobs Applied</a> </li>
                <li> <a href="/std/home"> <i class="fa  fa-bookmark-o"></i> Search Jobs </a> </li>
            </ul>
        </div>
    </div>
</div>
